<!DOCTYPE html>
<html>
<head>
  <div class="topnav">
    <a class="active" href="home.ejs">Home</a>
    <a href=login.ejs>Login</a>
    <a href=Registration.ejs>Registration</a>
    <a href=Vacations.ejs>Vacations</a>
  </div>
  <title>change-password</title>


  <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
<form id="reg-form">
  <table>
    <tr>
      <td>Password :</td>
      <td><input type="password" id="password" placeholder="Password" /></td>
    </tr>
    <tr>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>
</form>

<script>
  const form= document.getElementById('reg-form')
  form.addEventListener('submit',registerUser)

  async function registerUser(event){
    event.preventDefault()

    const password=document.getElementById('password').value


    const result = await fetch('/api/change-password',{
      method: 'POST',
      headers:{
        'Content-Type':'application/json'
      },
      body: JSON.stringify({

        newpassword:password,
        token:localStorage.getItem('token')

      })
    }).then((res)=>res.json())
    if(result.status==='ok'){
      // everything is fine
    }else{
      alert(result.error)
    }

  }
</script>
</body>
</html>