<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details about the vacation in Eilat</title>
    <style>  body{
        background-image: url(E1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    p{
       font-family: Arial;

       color :blue;

    }
    </style>
</head>
<body>
<p>Welcome to Eilat.</p>
<p>.</p>
<p>Eilat is a tourist city in Israel and is a city full of attractions.</p>
<p>To view the attractions click on the link below</p>
<a href=https://www.mako.co.il/travel-israel/places/Article-e50ac3348d72321006.htm>Attractions in Eilat.</a>
<br><br>
<input type="button" name="log" id="Invitation1" value="Invitation" href="/Vacations">
<br><br>
<a href="/Vacations">Back to the vacation page.</a>
</body>
</html>