<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details about the vacation in Paris</title>
    <link href="Paris.css" rel="stylesheet" type="text/css">
</head>
<body>
<p>Welcome to paris.</p>
<p>Paris has a lot of attractions to see the attractions so click on the link below</p>
<a href=https://www.mako.co.il/travel-world/guides-paris/Article-5fba08f292f8a51006.htm>Attractions in Eilat.</a>
<br><br>
<a href="/accountdetails">
    <button> Invitation </button>
</a>

<br><br>
<a href="/Vacations">Back to the vacation page.</a>
</body>
</html>