
<html>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href=/login>Login</a>
    <a href=/Registration>Registration</a>
    <a href=/Vacations>Vacations</a>
</div>
<head>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>Aweson Website</h2>
<p>
    walcome to a brand new website abour website
</p>
<ul>
    <li>Home</li>


</ul>
</body>
</html>