<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href=/login>Login</a>
        <a href=/Registration>Registration</a>
        <a href=/Vacations>Vacations</a>
    </div>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>Login Page</h2><br>
<div class="login">
    <form id="login" method="get" >
        <label><b>User Name
        </b>
        </label>
        <input type="text"  id="username" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="password"  id="password" placeholder="Password">
        <br><br>
        <input type="submit"  id="submit" value="Log In Here">
        <br><br>
        <input type="checkbox" id="check">
        <span>Remember me</span>
    </form>
</div>
<script>
    const form= document.getElementById('login')
    form.addEventListener('submit',loginUser)

    async function loginUser(event){
        event.preventDefault()
        const username=document.getElementById('username').value
        const password=document.getElementById('password').value

        const result = await fetch('/api/login',{
            method: 'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body: JSON.stringify({
                username,
                password,
            })
        }).then((res)=>res.json())
        if(result.status==='ok'){
            // everything is fine
            console.log('Got the token:',result.data)
            localStorage.setItem('token',result.data)
            alert('Success')
        }else{
            alert(result.error)
        }

    }
</script>
</body>
</html>