<!DOCTYPE html>
<html>
<head>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href=/login>Login</a>
        <a href=/Registration>Registration</a>
        <a href=/Vacations>Vacations</a>
        <div class="search-container">
            <form action="/action_page">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet" type="text/css">
    <link href="vac.css" rel="stylesheet" type="text/css">

</head>
<body>


<div style="padding-left:16px">
    <h2>Holidays page</h2>
    <p>On this page you can choose which vacation you would like to check its details by clicking on the image.</p>
    <a href="/Detailsp" id="hotle1" ><img width="500"  src="p1.jpg" alt="hottle1" />Paris</a>
    <a href="/Detailse" id="hotle2" ><img width="500"  src="E1.jpg" alt="hottle2"/>Eilat</a>


</div>

</body>
</html>